<div class="container">
  <div class="row">
    <div class="col-8">
      <h1 class="my-5"><%= @pet.name %> was lost on <%= @pet.lost_on %></h1>

      <p>Location: <%= @pet.location %></p>
      <p>Lost <%= @pet.lost_days_ago %> days ago.</p>
    </div>
  </div>
  <%= link_to "Delete", pet_path(@pet), method: 'delete', data: { confirm: "Are you sure? 😿"}, class: "btn btn-warning" %>
  <%= link_to "Back", pets_path, class: "btn btn-primary" %>
</div>